<header>
    <nav class="header__nav">
        <ul>
            <li class="">
                <a href="{{ url_for('scoreboard') }}">Таблица лидеров</a>
            </li>

            {% if current_user.login == 'ADMIN' %}
            <li class="">
                <a href="{{ url_for('admin') }}">Админ-панель</a>
            </li>
            {% endif %}
        </ul>
    </nav>

    <span class="header__logo"><a href="/"><img src="{{ url_for('static', filename='img/logo.png') }}" class="header__logo"></a></span>

    <span class="header__profile">
        <a class="" 
        {% if current_user.is_authenticated %}
        href="{{ url_for('profile', username=current_user.login) }}">{{ current_user.login }}
        {% else %} 
            href="{{ url_for('login') }}">Login
        {% endif %}
        </a>
    </span>
</header>
