<header>
    <span class="header__logo"><a href="/"><img src="{{ url_for('static', filename='img/logo.png') }}" class="header__logo"></a></span>

    <nav class="header__nav">
        <a class="header__nav_btn header__nav_btn-common" href="{{ url_for('scoreboard') }}">Таблица<br>очков</a>

        {% if current_user.login == 'ADMIN' %}
        <a class="header__nav_btn header__nav_btn-admin" href="{{ url_for('admin') }}">Панель<br>администратора</a>
        {% endif %}
    </nav>

    <span class="header__profile">
        <a class="header__nav_btn header__nav_btn-negative" 
        {% if current_user.is_authenticated %}
        href="{{ url_for('profile', username=current_user.login) }}">{{ current_user.login }}
        {% else %} 
            href="{{ url_for('login') }}">Login
        {% endif %}
        </a>
    </span>
</header>
