td{
    text-align: center;
}
td:first-child{
    text-align: left;
}
td:last-child{
    text-align: right;
}
th {
	font-weight: 700;
}

.admin_settings {
	overflow-y: scroll;
}

.admin_settings table{
    width: 100%;
}
.CreateButton{
    position: absolute;
    top:10%;
    left:50%;
    transform: translateX(-50%);
}

.wrapper {
	overflow-y: scroll;
}

button {
    background: none;
    border: 1px solid white;
    border-radius: 20px;
    padding: 10px;
}
