*
{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background: linear-gradient(to left top, #000000 10%, #1C0044 50%, #CA019E) no-repeat;
    min-height: 20vh;
    height: 100vh;
}

main {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

@media (width >= 2000) {
    body {
        font-size: 30em;
        background-color: red;
    }
}