/* General */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 20px 55px;
    width: 100%;

    box-sizing: border-box;

    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    font-weight: 200;
}

header a {
    text-decoration: none;    
    color: inherit;
    padding: 10px 0;
}


.header__logo,
.header__nav,
.header__profile {
    flex: 1;
}

/* Navigation */
.header__nav {
    justify-content: space-evenly;
    text-align: start;
}

.header__nav ul {
    list-style-type: none;
}

.header__nav li {
    padding: 15px 0;
}

.header__nav_btn {
    padding: 12px 75px;
    margin: 5px;
    border-radius: 50px;
    color: white; 
    text-decoration: none;
}

/* Logo img */
.header__logo {
    text-align: center;
}

.header__logo img {
    width: 250px;
}

.header__profile {
    text-align: end;
}

@media (width < 800px) {
    header {
        justify-content: space-evenly;
        padding: 20px 25px;
    }    

    .header__logo img {
        width: 200px;
    }
}

@media (width < 600px) {
    
    .header__logo img {
        width: 150px;
    }
}

@media (width < 450px) {
    
    .header__logo img {
        width: 80px;
    }
}
