/* General + scroll effect */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 20px 25px;
    width: 100%;
    min-height: 1.5em;
    background: none;

    box-sizing: border-box;
    transition: background-color .25s;

}


html:not([data-scroll='0']) {
    body {
        padding-top: 4.5em;
    }

    header {
        position: fixed;
        top: 0;
        background-color: #eee;
        box-shadow: 0 0 .5em rgba(0, 0, 0, .5);
    }
}

.header__logo,
.header__nav,
.header__profile {
    flex: 1;
}

/* Logo img */
.header__logo {
    text-align: start;
}

.header__logo img {
    width: 150px;
}

/* Navigation */
.header__nav {
    display: flex;
    justify-content: space-evenly;
    text-align: center;
}

.header__nav_btn {
    padding: 12px 75px;
    border-radius: 50px;
    color: white; 
    text-decoration: none;
}

.header__nav_btn-common {
    background: linear-gradient(90deg, #9653FD, #7D5DFD, #5D67FD); 
}

.header__nav_btn-negative {
    background: none; 
    outline: solid #4B2D9F;
}
.header__nav_btn-negative {
    
}

.header__nav_btn-admin {
    background: linear-gradient(90deg, red, pink); 
}

.header__profile {
    text-align: end;
}

@media (width < 600px) {
    header {
        justify-content: space-evenly;
    }    

    .header__logo img {
        width: 100px;
    }
}
