header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 5px 15px;
    width: 100%;
    min-height: 1.5em;
    background-color: #fff;

    box-sizing: border-box;
    transition: background-color .25s;
}


html:not([data-scroll='0']) {
    body {
        padding-top: 4.5em;
    }

    header {
        position: fixed;
        top: 0;
        background-color: #eee;
        box-shadow: 0 0 .5em rgba(0, 0, 0, .5);
    }
}


.header__logo,
.header__nav,
.header__profile {
    flex: 1;
}

.header__logo {
    text-align: start;
}

.header__logo img {
    width: 150px;
}

.header__nav {
    display: flex;
    justify-content: space-evenly;
    text-align: center;
}

.header__profile {
    text-align: end;
}

@media (width < 600px) {
    header {
        justify-content: space-evenly;
    }    

    .header__logo img {
        width: 100px;
    }

    .header__logo,
    .header__nav,
    .header__profile {
        text-align: center;
    }
}
