.profile__title {
    font-size: 36px;
    font-weight: 600;

    padding: 24px 0;
}

.profile__block {
    padding: 4px 0;
}

.profile__block3 {
   font-size: 28px;
    font-weight: 500; 
}

.profile__block2 {
    font-size: 22px;
    font-weight: 500;
}

.profile__block1 {
    font-size: 16px;
    font-weight: 400;
}

.profile__score {
    padding-top: 12px;
}

.profile__logout {
    padding: 8px 0;
}

.profile__logout-button {
    padding: 10px 42px;
    border-radius: 50px;
    font-weight: 300;
    font-size: 16px;
    background: none;
    border: 1px solid white;

    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    bottom: 2vh;

    cursor: pointer;
}

.profile__mc {
    padding: 4px 0 8px 0;
}


@media screen and (width <= 800px) {
    .profile__title {
        font-size: 32px;
    }

    .profile__block3 {
        font-size: 24px;
    }

    .profile__block2 {
        font-size: 18px;
    }

    .profile__block1 {
        font-size: 14px;        
    }

    .profile__logout-button {
        max-width: 80%;
    }
}

@media screen and (width <= 450px) {
    .wrapper {
        flex-direction: column;
        justify-content: space-evenly;
    }

    .profile__title {
        font-size: 24px;
    }

    .profile__block3 {
        font-size: 18px;
    }

    .profile__block2 {
        font-size: 14px;
    }

    .profile__block1 {
        font-size: 12px;        
    }

    .profile__logout-button {
        max-width: 80%;
    }
}

@media screen and (width > 800px) {
    .wrapper {
        flex-direction: row;
        justify-content: space-between;
        align-items: start;
    }
}

.wrapper {
	overflow-y: scroll;
}

.profile__mc-wrapper {
	overflow-y: scroll;
}
