.wrapper {
    margin: auto;
    padding: 10px 30px;
    width: 80%;
}

table {
    width: inherit;
    margin: inherit;
}

th {
    padding: 0 8px 24px 8px;
    text-align: start;
}

td {
    padding: 8px 0;
}

.scoreboard__current {
    font-weight: bold;
    border: 3px solid red;
}

@media (width <= 600px) {
    .wrapper {
        padding: 0;
        width: 95%;
        margin: auto;
    }

    .scoreboard__score {
        text-align: center;
    }
}
