.wrapper {
  font-size: 1.5em;
  padding: 10px 30px;
  width: 80%;
}

table {
  width: inherit;
  margin: inherit;
}

th {
  padding: 0 8px 12px 8px;
  text-align: start;
}
th:nth-child(2) {
  text-align: center;
}
td {
  padding: 5px 0;
}

.scoreboard__current {
  font-weight: bold;
  border: 3px solid red;
}

@media (width <= 600px) {
  .wrapper {
    padding: 0;
    width: 100%;
    margin: auto;
    font-size: 1em;
  }

  .scoreboard__score {
    text-align: center;
  }
}
