.scoreboard__title {
    font-size: 32px;
    font-weight: 400;
    text-align: center;
}

.scoreboard {
    border-spacing: 15px;
    border-collapse: collapse;
    font-size: 24px;
    width: 80%;
    margin: 0 auto;
}

td {
    float: left;
    padding-bottom: 10px;
    padding-top: 20px;
}

tr {
    border-bottom: 1px solid white;
}
.scoreboard__nickname {
}

.scoreboard__school {
    font-size: 12px;
}

.scoreboard__score {
    font-size: 20px;
}

.scoreboard__rating {
    font-weight: 900; 
    border-spacing: 50px 0;
    float: right;
}

.scoreboard__current {
    font-weight: 800;
}

.wrapper {
    justify-content: unset;
    gap: 5em;
    overflow-y: scroll;
}
