{% extends 'components/base.html' %}

{% block head %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/admin.css') }}" />
{% endblock %}
{% block title %}Admin Panel{% endblock %}

{% block body %}
    <div class="admin_settings">
    <table>
        <tr>
            <th>Имя</td>
            <th>Описание</td>
            <th>Очки</td>
        </tr>
        
            {% for m in mc%}
            <tr>
                <td>{{m.name}}</td>
                <td>{{m.context}}</td>
                <td>{{m.score}}</td>
                <td><a href="{{url_for('static', filename='qr/')}}{{ shake_128('masterclass'+m.uid|string)+'.png'}}">Нажми меня чтобы открыть QR-code</td>
                <td><form action="{{url_for('edit', mc_id=m.uid)}}"><button type="submit">Редактировать</button></form></td>
            </tr>
            {%endfor%}
    </table>
    <a href="{{url_for('create')}}"><button class="CreateButton">Создать</button></a>
    </div>
{% endblock %}
