{% extends 'components/base.html' %}

{% block title %}Create a masterclass{% endblock %}

{% block body %}
    <a href="{{url_for('admin')}}"><button>Назад</button></a>
    <form method="POST">
        <label for="name">Название мастеркласса: </label>
        <input type="text" name="name" id="name" required />
        <label for="context">Описание мастеркласса: </label>
        <input type="text" name="context" id="context">
        <label for="score">Баллов за мастеркласс: </label>
        <input type="number" name="score" id="score" min="0" required />
        <input type="submit" value="Сохранить"/>
    </form>
{% endblock %}
