<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <a href="{{url_for('admin')}}"><button>Назад</button></a>
    <form method="POST">
        <label for="name">Название мастеркласса: </label>
        <input type="text" name="name" id="name" required />
        <label for="context">Описание мастеркласса: </label>
        <input type="text" name="context" id="context">
        <label for="score">Баллов за мастеркласс: </label>
        <input type="number" name="score" id="score" required />
        <input type="submit" value="Сохранить"/>
    </form>
</body>
</html>