<!DOCTYPE html>
<html>
  <head>
    <title>Login to KAIT QR code factory</title>
  </head>
  <body>
    <h1>Sign in to admin board</h1>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
      {% for message in messages %}
      <p style="color: red; background-color: pink;">{{ message }}</p>
      {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}
    <form action="" method="post" novalidate>
      {{ form.hidden_tag() }}

      <p>{{ form.username.label }}<br>{{ form.username(size=32) }}</p>
      {% for error in form.username.errors %}
      <span style="color: red;">{{ error }}</span>
      {% endfor %}
      <p>{{ form.password.label }}<br>{{ form.password(size=32) }}</p>
      {% for error in form.password.errors %}
      <span style="color: red;">{{ error }}</span>
      {% endfor %}
      <p>{{ form.remember_me() }} {{ form.remember_me.label }}</p>
      <p>{{ form.submit() }} </p>

    </form>
  </body>
</html>
