{% extends 'components/base.html' %}

{% block title %}Login{% endblock %}

{% block body %}
	{% with messages = get_flashed_messages() %}
	{% if messages %}
	{% for message in messages %}
		<p style="color: red; background-color: pink;">{{ message }}</p>
	{% endfor %}
	{% endif %}
	{% endwith %}
    <div class="formcontainer">
	<form class="signupform" action="" method="post" novalidate>
        {{ form.hidden_tag() }}

        <p>
            {{ form.username.label }}<br>
            {{ form.username }}<br>

            {% for error in form.username.errors %}
                <span style="color: red;">{{ error }}</span><br>
            {% endfor %}
        </p>

        <p>
            {{ form.password.label }}<br>
            {{ form.password }}<br>
            {% for error in form.password.errors %}
                <span style="color: red;">{{ error }}</span><br>
            {% endfor %}
        </p>

        <p>{{ form.remember_me() }} {{ form.remember_me.label }}</p>

        <p>{{ form.submit() }} </p>
        <sub>Don't have an account yet? <a href="{{ url_for('signup') }}">Sign up</a></sub>
	</form>
    </div>
{% endblock %}
