{% extends 'components/base.html' %}

{% block title %}{{ user.login }}'s Profile{% endblock %}

{% block body %}
    <div class="UserInterface">
    <h1>{{ user.login }}</h1>
    <div>
        <p><b>ФИО: </b>{{ user.last_name }} {{ user.first_name }} {{ user.father_name }}</p>
        <p><b>Школа: </b>{{ user.school_name }}</p>
        <p><b>Счёт: </b>{{ user.score }}</p>

	{% if current_user.login == user.login %}
	<form action='/logout' method='GET'>
		<input class="Button" type='submit' value='Выйти из аккаунта'>
	</form>
	{% endif %}
    </div>

    {% if unattended_mcs %}
    <div>
        <h3>Мастерклассы, которые вы не посетили:</h3>
        <div>
            {% for mc in unattended_mcs %}
            <p>{{ mc.name }}</p>
            {% endfor %}
        </div>
    </div>
    {% endif %}
{% endblock %}
