{% extends 'components/base.html' %}

{% block title %}{{ user.login }}'s Profile{% endblock %}

{% block body %}
    <h1>{{ user.login }}</h1>
	<p><b>ФИО: </b>{{ user.last_name }} {{ user.first_name }} {{ user.father_name }}</p>
	<p><b>Школа: </b>{{ user.school_name }}</p>
	<p><b>Счёт: </b>{{ user.score }}</p>

    {% if unattended_mcs %}
    <div>
        <h3>There are masterclasses that might interest you!</h3>
        <div>
            {% for mc in unattended_mcs %}
            <p>{{ mc.name }}</p>
            {% endfor %}
        </div>
    </div>
    {% endif %}
{% endblock %}
