{% extends 'components/base.html' %}

{% block head %}
    <link href="{{ url_for('static', filename='css/scoreboard.css') }}" rel="stylesheet">
{% endblock %}

{% block title %}Scoreboard{% endblock %}

{% block body %}
<p class="scoreboard__title">Лидеры по количеству очков</p>
<table class="scoreboard">
    <tbody>
        {% for user in users %}
        <tr>
            <td  class="scoreboard__left {% if current_user.login == user.login %}scoreboard__current{% endif %}">
                <p class="scoreboard__nickname">{{ user.login }}</p>
                <p class="scoreboard__school">{{ user.school_name }}</p>
            </td>

            <td class="scoreboard__score scoreboard__left">{{ user.score }}</td>

            <td class="scoreboard__rating scoreboard__right">{{ loop.index }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
