{% extends 'components/base.html' %}

{% block title %}Sign up{% endblock %}

{% block body %}
    <div class="formcontainer">
	<form class="signupform" action="" method="post" novalidate>
	{{ form.hidden_tag() }}

	<p>
        {{ form.username.label }}<br>
        {{ form.username(size=32) }}<br>
        {% for error in form.username.errors %}
            <span style="color: red;">{{ error }}</span><br>
        {% endfor %}
    </p>

	<p>
        {{ form.fname.label }}<br>
        {{ form.fname(size=32) }}<br>
        {% for error in form.fname.errors %}
            <span style="color: red;">{{ error }}</span><br>
        {% endfor %}
    </p>

	<p>
        {{ form.mname.label }}<br>
        {{ form.mname(size=32) }}<br>
        {% for error in form.mname.errors %}
            <span style="color: red;">{{ error }}</span><br>
        {% endfor %}
    </p>

	<p>
        {{ form.lname.label }}<br>
        {{ form.lname(size=32) }}<br>
        {% for error in form.lname.errors %}
            <span style="color: red;">{{ error }}</span><br>
        {% endfor %}
    </p>

	<p>
        {{ form.school.label }}<br>
        {{ form.school(size=32) }}<br>
        {% for error in form.school.errors %}
            <span style="color: red;">{{ error }}</span><br>
        {% endfor %}
    </p>

	<p>
        {{ form.password.label }}<br>
        {{ form.password(size=32) }}<br>
        {% for error in form.password.errors %}
            <span style="color: red;">{{ error }}</span><br>
        {% endfor %}
    </p>

	<p>
        {{ form.confirm_password.label }}<br>
        {{ form.confirm_password(size=32) }}<br>
        {% for error in form.confirm_password.errors %}
            <span style="color: red;">{{ error }}</span><br>
        {% endfor %}
    </p>

	<p>{{ form.submit() }} </p>

	<sub>Уже есть аккаунт? <a href="{{ url_for('login') }}">Войти</a></sub>

	</form>
    </div>
{% endblock %}
