{% extends 'components/base.html' %}

{% block head %}
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/form.css') }}" />
{% endblock %}

{% block title %}Sign up{% endblock %}

{% block body %}
	<form action="" method="post" novalidate>
	{{ form.hidden_tag() }}

        <p class="input-block">
            {{ form.username.label }}<br>
            {{ form.username(size=32) }}<br>
            {% for error in form.username.errors %}
                <span style="color: red;">{{ error }}</span><br>
            {% endfor %}
        </p>

        <p class="input-block">
            {{ form.name.label }}<br>
            {{ form.name(size=32) }}<br>
            {% for error in form.name.errors %}
                <span style="color: red;">{{ error }}</span><br>
            {% endfor %}
        </p>

        <p>
            {{ form.school.label }}<br>
            {{ form.school(size=32) }}<br>
            {% for error in form.school.errors %}
                <span style="color: red;">{{ error }}</span><br>
            {% endfor %}
        </p>

        <p class="input-block">
            {{ form.password.label }}<br>
            {{ form.password(size=32) }}<br>
            {% for error in form.password.errors %}
                <span style="color: red;">{{ error }}</span><br>
            {% endfor %}
        </p>

        <p class="input-block">
            {{ form.confirm_password.label }}<br>
            {{ form.confirm_password(size=32) }}<br>
            {% for error in form.confirm_password.errors %}
                <span style="color: red;">{{ error }}</span><br>
            {% endfor %}
        </p>

	<p>{{ form.submit() }} </p>

	<sub>Already have an account? <a href="{{ url_for('login') }}">Login</a></sub>

	</form>
{% endblock %}
